services:
  backend:
    build:
      context: ..
      dockerfile: ../Dockerfile
    restart: always
    ports:
      - "80:8080"
    networks:
      - app-tier
    environment:
      SPRING_ACTIVE_PROFILE: prod

networks:
  app-tier:
    driver: bridge
