services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    restart: always
    expose:
      - "8080"  # 내부 네트워크만 노출
    networks:
      - app-tier
    environment:
      SPRING_ACTIVE_PROFILE: prod

networks:
  app-tier:
    external: true
